<configuration>
	<connectionStrings>
		<add name="QuanLyShopQuanAo"
			 connectionString="Data Source=.;
                           Initial Catalog=QuanLyCuaHangQuanAo;
                           Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
